@font-face {
    font-family: "iconfont";
    /* Project id 4475476 */
    src: url('//at.alicdn.com/t/c/font_4475476_iecxmly40um.woff2?t=1711602981785') format('woff2'),
        url('//at.alicdn.com/t/c/font_4475476_iecxmly40um.woff?t=1711602981785') format('woff'),
        url('//at.alicdn.com/t/c/font_4475476_iecxmly40um.ttf?t=1711602981785') format('truetype'),
        url('//at.alicdn.com/t/c/font_4475476_iecxmly40um.svg?t=1711602981785#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
    content: "\e6cd";
}

.icon-jian_sekuai:before {
    content: "\ed21";
}

.icon-user:before {
    content: "\e66c";
}

.icon-menu:before {
    content: "\e60b";
}